input: "example/input.xlsx"
output: "example/result"
header-row: 1
first-data-row: 2

export-csv: true

operations:
  - type: split-column
    column: B
    delimiter: "-"
    split-to: [E, F]
    new-headers: ["Part1", "Part2"]

  # - type: uppercase-column
  #   column: G

  - type: replace-in-column
    column: C
    find: "-"
    replace: ","

  - type: fill-column
    column: G
    fill-with: "firestore-random-past-date-n-year-2"
    new-header: "Created At"

  - type: add-column
    at: "end"
    fill-with: "firestore-now"
    new-header: "Updated At"

  - type: add-column
    at: "start"
    fill-with: "prefix"
    new-header: "Prefix"

  - type: sort-rows-by-column
    column: F
    ascending: true

  - type: group-collect-to-array
    group-by: F # column with BN (type column)
    collect-column: G # colors
    output-column: G # write array back to color column

  - type: reassign-numbering
    column: B
    prefix: ""
    suffix: "."
    start-from: 1
    step: 1

  - type: remove-column
    column: C

  # - type: transform-row
  #   row: 1
  #   to: "camelCase"
  #   delimiter: " "

  - type: rename-header
    column: A
    new-name: "New Prefix"

  - type: transform-header
    to: "snake_case"
    delimiter: " "
