input: "example/input.xlsx"
output: "example/result"
header-row: 1
first-data-row: 2

export-csv: true

operations:
  - type: split-column
    source: B
    delimiter: "-"
    split-to: [D, E]
    new-headers: ["Part1", "Part2"]

  # - type: uppercase-column
  #   column: C

  - type: replace-in-column
    column: C
    find: "-"
    replace: ","

  - type: transform-row
    row: 1
    to: "snake_case"
    delimiter: " "
